            #Spider-Man
           { 
            width: 100vw;  /* 100% da largura da viewport */
            height: 100vh; /* 100% da altura da viewport */
            background-image: url('./black\ myth\ wukong.png'); /* Altere para o caminho da sua imagem */
            background-size: cover;           /* Faz a imagem cobrir tudo */
            background-position: center;      /* Centraliza a imagem */
            background-repeat: no-repeat;     /* Evita que repita a imagem */
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            }

            .button 
            {
                color: white;
                padding: 15px 30px;
                background-color: rgb(190, 124, 0);
                border: none;
                border-radius: 20px;
                cursor: pointer;
                box-shadow: 0 4px 12px rgba(0, 0, 0, 0.911);
                transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
                    position: absolute;
                    top: 57%;   
                    left: 508px; 
                    transform: translateY(-50%); 
                    font-size: 25px; 
                    font-family: 'Segoe UI', sans-serif; 
                    
            }
                  
            
    
            .button:hover {
                background-color: rgba(0, 0, 0, 0.9)
              }
            .body
            {
                margin: 0px;
            }